.eventCountDown {
    display: flex;
    position: relative;
}
.eventCountDown {
    .countdown-item {
        position: relative;
        &::after {
            content: ' ';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 1px;
            height: 85%;
            background-color: $gray-200;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}