/*
    * Dashboard
*/
.dashboard {
    background-color: $light;
    .navbar {
        min-height: 70px;
    }
    /* Sidebar */
    .sidebar {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        position: fixed;
        top: 70px;
        bottom: 0;
        left: 0;
        z-index: 100;

        .nav {
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
        }

        .nav-link {
            color: $secondary;
            padding: 0.3125rem 0.5rem;
            display: inline-block;
            border-radius: .25rem;
            @include transition($btn-transition);
            &:hover {
                color: $dark;
                background-color: $light;
            }
        }
    }

    .sidebar-sticky {
        position: relative;
        top: 0;
        height: calc(100vh - 0);
        padding-top: 0;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .filter-nav {
        max-height: calc(100% - 70px);
        .nav-link {
            color: $secondary;
            display: inline-block;
            @include transition($btn-transition);
            &.active {
                text-decoration: underline;
            }
            &:hover {
                color: $dark;
                text-decoration: underline;
            }
        }
        ul {
            li {
                ul {
                    padding-left: 0.75rem;
                    list-style-type: none;
                }
            }
        }
    }
    .code-toolbar {
        position: relative;
        .toolbar {
            position: absolute;
            top: 7px;
            right: 7px;
            .toolbar-item {
                button {    
                    border: 1px solid $primary;
                    background-color: transparent;
                    border-radius: 4px;
                    font-size: 12px;
                    padding: 5px 10px;
                    outline: none;
                    @include transition($btn-transition);
                    &:hover, &:active, &:focus {
                        background-color: $primary;
                        outline: none;
                        color: $white;
                    }
                }
            }
        }
    }
}
