.bg-cover {
    background-size: cover;
}
.bg-contain {
    background-size: contain;
}
.bg-no-repeat {
    background-repeat: no-repeat;
}
.bg-repeat-y {
    background-repeat: repeat-y;
}
.bg-center-x {
    background-position-x: center;
}
.bg-end-x {
    background-position-x: right;
}
.bg-center-y {
    background-position-y: center;
}
.bg-top-y {
    background-position-y: top;
}
.bg-bottom-y {
    background-position-y: bottom;
}
.z-index-n1 {
    z-index: -1;
}