<!-- Why Projectus-->
<section class="bg-light pt-40px pt-lg-110px pb-50px pb-lg-120px">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-7">
        <h1 class="mb-40px">Service Features</h1>
      </div><!-- end col -->
    </div><!-- end row -->
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="card shadow-sm h-100">
          <div class="card-body rounded py-30px ps-20px pe-30px">
            <div class="card-icon mb-4 position-relative mt-2">
              <span class="d-inline-block position-relative">
                <img src="{{ '/SVG-icons/noun_AI.svg'| asseturl }}" alt="">
              </span>
              <span class="icon-bg bg-primary-100 d-inline-block"></span>
            </div>

            <h6 class="fw-semi-bold text-dark mb-10px">Fully Independent</h6>
            <p class="fs-7 mb-0">Remove dependency to other blockchains by launching fully independent blockchain with verigaNET.</p>
          </div><!-- end card-body -->
        </div><!-- end card -->
      </div><!-- end col -->

      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="card shadow-sm h-100">
          <div class="card-body rounded py-30px ps-20px pe-30px">
            <div class="card-icon mb-4 position-relative mt-2">
              <span class="d-inline-block position-relative">
                <img src="{{ '/SVG-icons/noun_encrypted.svg'| asseturl }}" alt="">
              </span>
              <span class="icon-bg bg-danger-100 d-inline-block"></span>
            </div><!-- end card-icon -->

            <h6 class="fw-semi-bold text-dark mb-10px">Fully Managed</h6>
            <p class="fs-7 mb-0">Deploy fully managed blockchain engine in the cloud.</p>
          </div><!-- end card-body -->
        </div><!-- end card -->
      </div><!-- end col -->

      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="card shadow-sm h-100">
          <div class="card-body rounded py-30px ps-20px pe-30px">
            <div class="card-icon mb-4 position-relative mt-2">
              <span class="d-inline-block position-relative">
                <img src="{{ '/SVG-icons/noun_sync.svg'| asseturl }}" style="height: 44px" alt="">
              </span>
              <span class="icon-bg bg-success-100 d-inline-block"></span>
            </div><!-- end card-icon -->
            <h6 class="fw-semi-bold text-dark mb-10px">Highly Available</h6>
            <p class="fs-7 mb-0">Achieve high availability with verigaNET multi region deployment option.</p>
          </div><!-- end card-body -->
        </div><!-- end card -->
      </div><!-- end col -->

      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="card shadow-sm h-100">
          <div class="card-body rounded py-30px ps-20px pe-30px">
            <div class="card-icon mb-4 position-relative mt-2">
              <span class="d-inline-block position-relative">
                <img src="{{ '/SVG-icons/noun_idea.svg'| asseturl }}" alt="">
              </span>
              <span class="icon-bg bg-warning-100 d-inline-block"></span>
            </div><!-- end card-icon -->

            <h6 class="fw-semi-bold text-dark mb-10px">Blockchain Expertise</h6>
            <p class="fs-7 mb-0">Benefit from our blockchain expertise in this age of innovation.</p>
          </div><!-- end card-body -->
        </div><!-- end card -->
      </div><!-- end col -->
    </div><!-- end row -->

    <div class="row">
      <div class="col-12 col-md-10 col-lg-7" style="margin-top: 40px">
        <h1 class="mb-40px">Technology Features</h1>
      </div><!-- end col -->
    </div><!-- end row -->
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="card shadow-sm h-100">
          <div class="card-body rounded py-30px ps-20px pe-30px">
            <div class="card-icon mb-4 position-relative mt-2">
              <span class="d-inline-block position-relative">
                <img src="{{ '/SVG-icons/noun_transform.svg'| asseturl }}" alt="">
              </span>
              <span class="icon-bg bg-primary-100 d-inline-block"></span>
            </div>

            <h6 class="fw-semi-bold text-dark mb-10px">Fast</h6>
            <p class="fs-7 mb-0">Subsecond transaction / block creation speed.</p>
          </div><!-- end card-body -->
        </div><!-- end card -->
      </div><!-- end col -->

      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="card shadow-sm h-100">
          <div class="card-body rounded py-30px ps-20px pe-30px">
            <div class="card-icon mb-4 position-relative mt-2">
              <span class="d-inline-block position-relative">
                <img src="{{ '/SVG-icons/noun_free.svg'| asseturl }}" alt="">
              </span>
              <span class="icon-bg bg-danger-100 d-inline-block"></span>
            </div><!-- end card-icon -->

            <h6 class="fw-semi-bold text-dark mb-10px">No Fees</h6>
            <p class="fs-7 mb-0">No fees on transactions or block creation.</p>
          </div><!-- end card-body -->
        </div><!-- end card -->
      </div><!-- end col -->

      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="card shadow-sm h-100">
          <div class="card-body rounded py-30px ps-20px pe-30px">
            <div class="card-icon mb-4 position-relative mt-2">
              <span class="d-inline-block position-relative">
                <img src="{{ '/SVG-icons/community.svg'| asseturl }}" style="height: 44px" alt="">
              </span>
              <span class="icon-bg bg-success-100 d-inline-block"></span>
            </div><!-- end card-icon -->
            <h6 class="fw-semi-bold text-dark mb-10px">Decentralised</h6>
            <p class="fs-7 mb-0">Blockchain technology designed to be decentralised.</p>
          </div><!-- end card-body -->
        </div><!-- end card -->
      </div><!-- end col -->

      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="card shadow-sm h-100">
          <div class="card-body rounded py-30px ps-20px pe-30px">
            <div class="card-icon mb-4 position-relative mt-2">
              <span class="d-inline-block position-relative">
                <img src="{{ '/SVG-icons/noun_improve.svg'| asseturl }}" alt="">
              </span>
              <span class="icon-bg bg-warning-100 d-inline-block"></span>
            </div><!-- end card-icon -->

            <h6 class="fw-semi-bold text-dark mb-10px">Infinitely Scalable</h6>
            <p class="fs-7 mb-0">Scale the blockchain to infinity and beyond.</p>
          </div><!-- end card-body -->
        </div><!-- end card -->
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</section>