<!-- Why Projectus-->
<section class="bg-light pt-40px pt-lg-110px pb-50px pb-lg-120px">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-7">
        <h1 class="mb-40px">Features</h1>
      </div><!-- end col -->
    </div><!-- end row -->

    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="card shadow-sm h-100">
          <div class="card-body rounded py-30px ps-20px pe-30px">
            <div class="card-icon mb-4 position-relative mt-2">
              <span class="d-inline-block position-relative">
                <img src="{{ '/SVG-icons/noun_AI.svg'| asseturl }}" alt="">
              </span>
              <span class="icon-bg bg-primary-100 d-inline-block"></span>
            </div>

            <h6 class="fw-semi-bold text-dark mb-10px">No Transaction Cost</h6>
            <p class="fs-7 mb-0">What is Lorem Ipsum Lorem Ipsum simply dummy text of the printing and typesetting. What is Lorem Ipsum Lorem Ipsum simply dummy.</p>
          </div><!-- end card-body -->
        </div><!-- end card -->
      </div><!-- end col -->

      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="card shadow-sm h-100">
          <div class="card-body rounded py-30px ps-20px pe-30px">
            <div class="card-icon mb-4 position-relative mt-2">
              <span class="d-inline-block position-relative">
                <img src="{{ '/SVG-icons/noun_encrypted.svg'| asseturl }}" alt="">
              </span>
              <span class="icon-bg bg-danger-100 d-inline-block"></span>
            </div><!-- end card-icon -->

            <h6 class="fw-semi-bold text-dark mb-10px">Very Fast</h6>
            <p class="fs-7 mb-0">What is Lorem Ipsum Lorem Ipsum simply dummy text of the printing and typesetting. What is Lorem Ipsum Lorem Ipsum simply dummy.</p>
          </div><!-- end card-body -->
        </div><!-- end card -->
      </div><!-- end col -->

      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="card shadow-sm h-100">
          <div class="card-body rounded py-30px ps-20px pe-30px">
            <div class="card-icon mb-4 position-relative mt-2">
              <span class="d-inline-block position-relative">
                <img src="{{ '/SVG-icons/noun_sync.svg'| asseturl }}" alt="">
              </span>
              <span class="icon-bg bg-success-100 d-inline-block"></span>
            </div><!-- end card-icon -->
            <h6 class="fw-semi-bold text-dark mb-10px">Truly Decentralised</h6>
            <p class="fs-7 mb-0">What is Lorem Ipsum Lorem Ipsum simply dummy text of the printing and typesetting. What is Lorem Ipsum Lorem Ipsum simply dummy.</p>
          </div><!-- end card-body -->
        </div><!-- end card -->
      </div><!-- end col -->

      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="card shadow-sm h-100">
          <div class="card-body rounded py-30px ps-20px pe-30px">
            <div class="card-icon mb-4 position-relative mt-2">
              <span class="d-inline-block position-relative">
                <img src="{{ '/SVG-icons/noun_idea.svg'| asseturl }}" alt="">
              </span>
              <span class="icon-bg bg-warning-100 d-inline-block"></span>
            </div><!-- end card-icon -->

            <h6 class="fw-semi-bold text-dark mb-10px">Infinitely Scalable</h6>
            <p class="fs-7 mb-0">What is Lorem Ipsum Lorem Ipsum simply dummy text of the printing and typesetting. What is Lorem Ipsum Lorem Ipsum simply dummy.</p>
          </div><!-- end card-body -->
        </div><!-- end card -->
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</section>