<!-- Footer-->
<footer class="bg-white">
  <div class="container py-40px py-md-50px py-lg-80px border-top border-gray-200">
    <div class="row justify-content-around">
      <div class="col-12 col-lg-4 mb-40px mb-md-50px mb-lg-0">
        <div class="row h-100">
          <div class="col-12">
            <h2 class="fw-bold mb-25px"><a class="text-dark text-decoration-none" href="/index.html">
              <img width="64" class="img-fluid" src="{{ '/img/veriganet_logo.png'| asseturl }}" alt="verigaNET Logo"></a>
            </h2>
            <ul class="list-inline list-xs social-icons mb-0">
              <li class="list-inline-item">
                <a class="bg-primary-100" href="https://www.facebook.com/verigaNET" target="_blank">
                  <i class="fab fa-facebook icon text-primary"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="bg-primary-100" href="https://twitter.com/netveriga" target="_blank">
                  <i class="fab fa-twitter icon text-primary"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="bg-primary-100" href="javascript:void(0);" target="_blank">
                  <i class="fab fa-linkedin icon text-primary"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="bg-primary-100" href="https://www.reddit.com/r/veriganet" target="_blank">
                  <i class="fab fa-reddit-alien icon text-primary"></i>
                </a>
              </li>
            </ul><!-- end social icons -->
          </div><!-- end col -->
          <div class="col-12 mt-auto d-none d-lg-inline-block">
            <p class="text-dark mb-0">© verigaNET Inc. All rights reserved.</p>
          </div><!-- end col -->
        </div><!-- end row -->
      </div><!-- end col -->

      <div class="col-6 col-md mb-35px mb-md-0">
        <h6 class="fw-semi-bold mb-20px">Product</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-10px"><a class="link-gray-600" href="javascript:void(0)">Features</a></li>
          <li class="mb-10px"><a class="link-gray-600" href="javascript:void(0)">Team</a></li>
          <li class="mb-0"><a class="link-gray-600" href="javascript:void(0)">Resources</a></li>
        </ul>
      </div><!-- end col -->

      <div class="col-6 col-md">
        <h6 class="fw-semi-bold mb-20px">Support</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-10px"><a class="link-gray-600" href="/support">Support</a></li>
          <li class="mb-10px"><a class="link-gray-600" href="javascript:void(0)">Community</a></li>
          <li class="mb-10px"><a class="link-gray-600" href="/support">Product</a></li>
        </ul>
      </div><!-- end col -->

      <div class="col-6 col-md flex-grow-0">
        <h6 class="fw-semi-bold mb-20px">Company</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-10px"><a class="link-gray-600" href="/about">About</a></li>
          <li class="mb-10px"><a class="link-gray-600" href="https://medium.com/veriganet" target="_blank">Blog</a></li>
          <li class="mb-10px"><a class="link-gray-600" href="/career">Careers</a></li>
        </ul>
      </div><!-- end col -->
    </div><!-- end row -->

    <hr class="bg-gray-200 my-25px my-md-40px">

    <div class="row">
      <div class="col mb-md-25px mb-lg-0">
        <a class="text-dark me-25px mb-20px mb-md-0 d-block d-md-inline-block" href="#" target="_blank">Terms and conditions</a>
        <a class="text-dark me-25px mb-20px mb-md-0 d-block d-md-inline-block" href="#" target="_blank">Privacy Policy</a>
        <a class="text-dark me-25px mb-20px mb-md-0 d-block d-md-inline-block" href="#" target="_blank">Contact</a>
      </div><!-- end col -->

      <div class="col-12">
        <p class="text-dark mb-0 d-inline-block d-lg-none">© verigaNET Inc. All rights reserved.</p>
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</footer>