<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-transparent pt-3 pt-lg-40px">
<div class="container">

  <a class="navbar-brand" href="{{ '/'|url }}">
    <img width="64" src="{{ '/img/veriganet_logo.svg'| asseturl }}" alt="" />
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav hovered-nav mx-auto mb-2 mb-lg-0">

      <li class="nav-item px-20px px-lg-0 py-2 py-lg-0">
        <a class="nav-link" href="{{ '/services'|url }}" role="button">
          Services
        </a>
      </li>

      <li class="nav-item px-20px px-lg-0 py-2 py-lg-0">
        <a class="nav-link" href="{{ '/whitepaper'|url }}" role="button">
          Whitepaper
        </a>
      </li>

      <li class="nav-item px-20px px-lg-0 py-2 py-lg-0">
        <a class="nav-link" href="{{ '/support'|url }}" role="button">
          Support
        </a>
      </li>

      <li class="nav-item px-20px px-lg-0 py-2 py-lg-0">
        <a class="nav-link" href="{{ '/contact'|url }}" role="button">
          Contact
        </a>
      </li>

      <!-- community -->
      <li class="nav-item dropdown px-20px px-lg-0 py-2 py-lg-0">
        <a class="nav-link dropdown-toggle" href="#" id="accountPages" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Community
        </a>
        <ul class="dropdown-menu shadow-lg px-0 px-lg-2 py-0 py-lg-2" aria-labelledby="accountPages">
          <li>
            <a class="dropdown-item mb-10px mb-lg-0" href="https://twitter.com/netveriga" target="_blank">
              Twitter
            </a>
          </li>
          <li>
            <a class="dropdown-item mb-10px mb-lg-0" href="https://www.linkedin.com/company/veriganet/" target="_blank">
              Linkedin
            </a>
          </li>
          <li>
            <a class="dropdown-item mb-10px mb-lg-0" href="https://github.com/veriganet">Github</a>
          </li>
          <li>
            <a class="dropdown-item mb-10px mb-lg-0" href="https://www.reddit.com/r/veriganet">Reddit</a>
          </li>
        </ul><!--end dropdown-menu -->
      </li><!-- end nav-item -->

      <li class="nav-item px-20px px-lg-0 py-2 py-lg-0">
        <a class="btn btn-primary btn-sm" href="{{ '/getstarted'|url }}" role="button">
          Get Started
        </a>
      </li>

    </ul><!-- end navbar-nav -->

    <!-- language selector -->
    <!--
    <button class="btn btn-default translate" style="margin: 3px; padding: 0px;" id="en">
      English
    </button>

    <button class="btn btn-default translate" style="margin: 3px; padding: 0;" id="tr">
      Turkce
    </button>
    -->
    <!-- end language selector -->

  </div><!-- end collapse -->
</div><!-- end container -->
</nav>