<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-transparent pt-3 pt-lg-40px">
<div class="container">

  <a class="navbar-brand" href="{{ '/'|url }}">
    <img width="64" src="{{ '/img/veriganet_logo.png'| asseturl }}" alt="" />
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav hovered-nav mx-auto mb-2 mb-lg-0">

      <li class="nav-item px-20px px-lg-0 py-2 py-lg-0">
        <a class="nav-link" href="{{ '/services'|url }}" role="button">
          Services
        </a>
      </li>

      <li class="nav-item px-20px px-lg-0 py-2 py-lg-0">
        <a class="nav-link" href="{{ '/whitepaper'|url }}" role="button">
          Whitepaper
        </a>
      </li>

      <li class="nav-item px-20px px-lg-0 py-2 py-lg-0">
        <a class="nav-link" href="{{ '/support'|url }}" role="button">
          Support
        </a>
      </li>

      <li class="nav-item px-20px px-lg-0 py-2 py-lg-0">
        <a class="nav-link" href="{{ '/contact'|url }}" role="button">
          Contact
        </a>
      </li>

      <!-- community -->
      <li class="nav-item dropdown px-20px px-lg-0 py-2 py-lg-0">
        <a class="nav-link dropdown-toggle" href="#" id="accountPages" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Community
        </a>
        <ul class="dropdown-menu shadow-lg px-0 px-lg-2 py-0 py-lg-2" aria-labelledby="accountPages">
          <li>
            <a class="dropdown-item mb-10px mb-lg-0" href="https://github.com/veriganet">Github</a>
          </li>
          <li>
            <a class="dropdown-item mb-10px mb-lg-0" href="https://discord.gg/mkFQ39HS">Discord</a>
          </li>
          <li>
            <a class="dropdown-item mb-10px mb-lg-0" href="https://www.reddit.com/r/veriganet">Reddit</a>
          </li>
        </ul><!--end dropdown-menu -->
      </li><!-- end nav-item -->

      <li class="nav-item dropdown px-20px px-lg-0 py-2 py-lg-0">
        <a class="nav-link dropdown-toggle" href="#" id="documentation" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Documentation
        </a>
        <div class="dropdown-menu dropdown-menu-md shadow-lg px-0 px-lg-20px py-0 py-lg-3" aria-labelledby="documentation">
          <a href="{{ '/docs'|url }}" class="dropdown-item group-item d-flex align-items-center mb-10px mb-lg-0">
            <img width="26" src="{{ '/SVG-icons/noun_code_document.svg'| asseturl }}" alt="" />

            <div class="ms-3 flex-grow-1">
              <h6 class="dropdown-header fw-medium lh-base p-0">Documentation</h6>
              <p class="text-gray-600 lh-2 mb-0">Developer Guides</p>
            </div>
            <div class="hover-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="5.481" height="8.841" viewBox="0 0 5.481 8.841">
                <path d="M-4406.182-5710.5l3.891,3.89,3.89-3.89" transform="translate(5711.03 -4397.871) rotate(-90)" fill="none" stroke="#2052eb" stroke-width="1.5"/>
              </svg>
            </div>
          </a>

          <a href="/docs/alerts.html" class="dropdown-item group-item d-flex align-items-center mb-10px mb-lg-0">
            <img width="26" src="{{ '/SVG-icons/noun_document.svg'| asseturl }}" alt="" />

            <div class="ms-3 flex-grow-1">
              <h6 class="dropdown-header fw-medium lh-base p-0">Components</h6>
              <p class="text-gray-600 lh-2 mb-0">List of components</p>
            </div>
            <div class="hover-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="5.481" height="8.841" viewBox="0 0 5.481 8.841">
                <path d="M-4406.182-5710.5l3.891,3.89,3.89-3.89" transform="translate(5711.03 -4397.871) rotate(-90)" fill="none" stroke="#2052eb" stroke-width="1.5"/>
              </svg>
            </div>
          </a>
        </div><!--end dropdown-menu -->
      </li><!-- end nav-item -->

    </ul><!-- end navbar-nav -->

    <!-- language selector -->
    <button class="btn btn-default translate" style="margin: 3px; padding: 0px;" id="en">
      English
    </button>

    <button class="btn btn-default translate" style="margin: 3px; padding: 0;" id="tr">
      Turkce
    </button>
    <!-- end language selector -->

  </div><!-- end collapse -->
</div><!-- end container -->
</nav>