<!--Welcome-->
<section class="pt-80px pt-lg-110px pb-120px pb-lg-150px">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 text-center">
        <h1 class="display-6 fw-bold">How can we help you?</h1>
        <p class="lead mb-30px">Lorem Ipsum is simply dummy text of the printing</p>

        <div class="input-group custom-input-group mb-60px">
          <input class="form-control element-first" type="text" placeholder="Search topics" aria-label="Username" aria-describedby="basic-addon1">
          <span class="input-group-text-parent element-last">
            <a class="btn btn-primary px-3" href="#">
              <i class="fs-3" data-feather="search"></i>
            </a>
          </span>
        </div><!-- end input group -->
      </div><!-- end col -->
       <div class="col-12 text-center">
        <h4 class="mb-60px mb-lg-100px">Popular Topics</h4>
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container-lg -->
</section>