<!--Welcome-->
<section class="bg-transparent pb-0 pt-10px pt-md-70px">
<div class="container position-relative overflow-hidden overflow-sm-visible">
  <img class="position-absolute z-index-n1 translate-middle" style="top: 40%; left: 20%;" src="{{ '/img/landings/header-sass-blur-bg.png'| asseturl }}" alt="" />
  <div class="row justify-content-between align-items-center">
    <div class="col-12 col-md-6 col-lg-5">
      <div class="row">
        <div class="col-12 col-xl-11 mb-30px mb-md-0">
          <h1 class="display-6 fw-bolder mb-3 d-none d-lg-block">
            <span class="text-primary">Blockchain</span>
            for everyone</h1>
          <p class="mb-40px">Launch fully independent blockchain with ease</p>
          <a class="btn btn-primary me-2 me-lg-20px" href="#">Get Started</a>
          <a class="btn btn-primary-100 text-primary" data-fancybox="presentation" href="#">
            <i class="fs-6 me-2" data-feather="play"></i>
            How it works?
          </a>
        </div><!-- end col -->
      </div><!--end row -->
    </div><!-- end col -->

    <div class="col-12 col-md-6 col-lg-7">
      <div class="row justify-content-end">
        <div class="col-12 col-xl-11">
          <figure class="mb-0">
            <img class="w-100" src="{{ '/img/block_chains.svg'| asseturl }}" alt="">
          </figure>
        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end col -->
  </div><!-- end row -->
</div><!-- end container -->
</section>