{% extends "layout.html" %}
{% block content %}
    <section class="bg-white pt-70px pb-70px pb-lg-100px">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-12 col-lg-10">
            <h2 class="mb-3">{{ this.chaintitle }}</h2>

            {{ this.chain }}

            <hr class="my-3 bg-transparent" />

          </div><!-- end col -->
        </div><!-- end row -->

        <hr class="my-3 bg-transparent" />

        <div class="row justify-content-center">
          <div class="col-12 col-lg-10">
            <h2 class="mb-3">{{ this.smarttitle }}</h2>

            {{ this.smart }}

            <hr class="my-3 bg-transparent" />

          </div><!-- end col -->
        </div><!-- end row -->

        <hr class="my-3 bg-transparent" />

      </div><!-- end container -->
    </section>
{% endblock %}