{% extends "layout.html" %}
{% block content %}
    <section class="bg-white pt-70px pb-70px pb-lg-100px">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-12 col-lg-10">
            <h2 class="mb-3">{{ this.blocktitle }}</h2>

            {{ this.block }}

            <hr class="my-3 bg-transparent" />

            <a class="btn btn-primary me-2 me-lg-20px" href="/getstarted">Get Started</a>
          </div><!-- end col -->
        </div><!-- end row -->

        <hr class="my-3 bg-transparent" />

        <div class="row justify-content-center">
          <div class="col-12 col-lg-10">
            <h2 class="mb-3">{{ this.smarttitle }}</h2>

            {{ this.smart }}

            <hr class="my-3 bg-transparent" />

          </div><!-- end col -->
        </div><!-- end row -->

        <div class="row justify-content-center">
          <div class="col-12 col-lg-10">
            <h2 class="mb-3">{{ this.experttitle }}</h2>

            {{ this.expert }}

            <hr class="my-3 bg-transparent" />

            <a class="btn btn-primary me-2 me-lg-20px" href="#">Contact With Expert</a>
          </div><!-- end col -->
        </div><!-- end row -->

        <hr class="my-3 bg-transparent" />

        <div class="row justify-content-center">
          <div class="col-12 col-lg-10">
            <h2 class="mb-3">{{ this.multiassetwallettitle }}</h2>

            {{ this.multiassetwallet }}

            <hr class="my-3 bg-transparent" />

            <button class="btn btn-gray me-1 me-lg-20px">To be announced</button>
          </div><!-- end col -->
        </div><!-- end row -->

        <hr class="my-3 bg-transparent" />

        <div class="row justify-content-center">
          <div class="col-12 col-lg-10">
            <h2 class="mb-3">{{ this.tradeplatformtitle }}</h2>

            {{ this.tradeplatform }}

            <hr class="my-3 bg-transparent" />

            <a class="btn btn-gray me-1 me-lg-20px" href="#">To be announced</a>
          </div><!-- end col -->
        </div><!-- end row -->

        <hr class="my-3 bg-transparent" />

      </div><!-- end container -->
    </section>
{% endblock %}