{% extends "layout.html" %}
{% block content %}
<!-- start section -->
<section class="bg-transparent">
  <div class="container">
    <div class="row mt-n140px mt-lg-n200px">
      <div class="col-12 col-md-6 col-lg-4 mb-40px">
        <div class="card card-border-bottom shadow-xl h-100 mb-lg-0">
          <div class="card-body rounded ps-35px pe-50px py-35px">
            <div class="card-icon position-relative mb-20px">
              <span class="d-inline-block position-relative">
                <img src="{{ '/SVG-icons/compound.svg'| asseturl }}" alt="" />
              </span>
              <span class="icon-bg bg-primary-100 d-inline-block"></span>
            </div><!-- end card-icon -->

            <h5 class="fw-semi-bold mb-5px">
                <a href="/documentation/block">verigaNET BLOCK Documentation</a>
            </h5>
            <p class="mb-0">
                Access verigaNET BLOCK managed blockchain service documentation.
            </p>

            <span class="card-border bg-primary-100"></span>
          </div><!-- end card-body -->
        </div><!-- end card -->
      </div><!-- end col -->

      <div class="col-12 col-md-6 col-lg-4 mb-40px">
        <div class="card card-border-bottom shadow-xl h-100 mb-lg-0">
          <div class="card-body rounded ps-35px pe-50px py-35px">
            <div class="card-icon position-relative mb-20px">
              <span class="d-inline-block position-relative">
                <img src="{{ '/SVG-icons/noun_AI.svg'| asseturl }}" alt="" />
              </span>
              <span class="icon-bg bg-primary-100 d-inline-block"></span>
            </div><!-- end card-icon -->

            <h5 class="fw-semi-bold mb-5px">
                <a href="/documentation/smart">verigaNET SMART Documentation</a>
            </h5>
            <p class="mb-0">Access verigaNET SMART managed blockchain service documentation.</p>

            <span class="card-border bg-danger-100"></span>
          </div><!-- end card-body -->
        </div><!-- end card -->
      </div><!-- end col -->

      <div class="col-12 col-md-6 col-lg-4 mb-40px">
        <div class="card card-border-bottom shadow-xl h-100 mb-lg-0">
          <div class="card-body rounded ps-35px pe-50px py-35px">
            <div class="card-icon position-relative mb-20px">
              <span class="d-inline-block position-relative">
                <img src="{{ '/SVG-icons/noun_document.svg'| asseturl }}" alt="" />
              </span>
              <span class="icon-bg bg-primary-100 d-inline-block"></span>
            </div><!-- end card-icon -->

            <h5 class="fw-semi-bold mb-5px">
               <a href="/faq">Frequently Asked Questions</a>
            </h5>
            <p class="mb-0">Read most frequently asked question about us and services.</p>

            <span class="card-border bg-success-100"></span>
          </div><!-- end card-body -->
        </div><!-- end card -->
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</section>

<!-- Subscribe section-->
<section class="bg-white pb-70px pt-30px pt-lg-50px">
  <div class="container">
    <div class="card contact-call-to-action bg-primary-900 bg-no-repeat bg-end-x bg-contain bg-center-y">
      <div class="card-body px-30px py-35px">
        <div class="d-block d-md-flex align-items-md-center">
          <div class="flex-grow-1">
            <h4 class="fw-semi-bold mb-25px mb-md-0 text-white">Want to contact us?</h4>
          </div>
          <div>
            <a class="btn btn-primary" href="/contact">Contact</a>
          </div>
        </div><!-- end d-flex -->
      </div><!-- end card-body -->
    </div><!-- end card -->
  </div><!-- end container -->
</section>
{% endblock %}