// Avatars
.avatar {
    display: inline-block;
    width: $avatar-width;
    height: $avatar-height;
    background: $avatar-background-color;
    border-radius: 100%;
    .avatar-name {
      font-size: $avatar-name-font-size;
    }
  
    &.avatar-sm {
      width: $avatar-width-sm;
      height: $avatar-height-sm;
      .avatar-name {
        font-size: $avatar-name-font-size-sm;
      }
    }
  
    &.avatar-lg {
      width: $avatar-width-lg;
      height: $avatar-height-lg;
      .avatar-name {
        font-size: $avatar-name-font-size-lg;
      }
    }
  
    &.avatar-xl {
      width: $avatar-width-xl;
      height: $avatar-height-xl;
      .avatar-name {
        font-size: $avatar-name-font-size-xl;
      }
    }
  }
  
  .avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
  }

  .avatar-name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $avatar-name-color;
    background-color: $avatar-name-bg;
    line-height: normal;
}

// Avatars Group
.avatar-group {
  .avatar {
    .avatar-img,
    .avatar-name {
      border: 3px solid $white;
    }
    &:not(:first-child) {
      margin-left: -15px;
    }
    &:hover {
      position: relative;
    }
  }
}