.social-icons {
    li {
        a {
            display: inline-block;
            width: $social-icons-width;
            height: $social-icons-width;
            line-height: $social-icons-width;
            text-align: center;
            border-radius: 50%;
            .icon {
                font-size: $font-size-base;
            }
        }
    }
}